{% extends "layouts/base-all.html" %}
{% block title %} Board {% endblock %}
{% block content %}
<!-- Main content -->
<section>
    <div >
        <div class="row justify-content-center">
          <div class = "card" style="width: 50rem;">
            <div >
              <h1 class="card-header">Update Profile</h1>
            </div>
            <div class="card-body">
              <form action="/profile/{{user.user}}/edit" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Title</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" name="user" placeholder="User Name" value ={{user.user}}>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Email</label>
                  <input class="form-control" id="exampleFormControlTextarea1" name="email" rows="12" value = {{user.email}}></input>
                </div>
                <button type="submit" class="btn btn-primary">Update profile</button> 
            </div>
          </div>
        </div>

</section>

{% endblock %}