{% extends "layouts/base-all.html" %}
{% block title %} Board {% endblock %}
{% block content %}
<!-- Main content -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card mt-5">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <img src="/static/img/blogv.jpg" alt="logo" width="250" height="40" />
            </div>
            <div class="d-flex justify-content-center">
              <h4 class="mt-3"> {{user.user}} </h4>
              <div class="mt-3 mx-2" onclick="onDeleteUser()">
                <!-- delete button -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </div>
            <!-- edit button -->
            <a href="/profile/{{user.user}}/edit">
            <div class="mt-3 mx-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z"/>
              </svg>
            </div>
            </div>
            <div class="d-flex justify-content-center">
              <p class="mt-3"> {{user.email}} </p>
            </div>
            <div class="d-flex justify-content-center">
              <p class="mt-3"> Posts:{{user.userprofile.no_of_posts}} </p>
            </div>
            <div class="d-flex justify-content-center">
              <p class="mt-3"> <a href="{{url_for('followings')}}">Following </a>:{{user.userprofile.no_of_following}}
              </p>
            </div>
            <div class="d-flex justify-content-center">
              <p class="mt-3"><a href="{{url_for('followers')}}"> Followers </a> : {{user.userprofile.no_of_followers}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card mt-5">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <h4 class="mt-3"> My Blogs </h4>
            </div>
          </div>
        </div>

        <div class="card mt-5">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <!-- galary of post -->
              <div class="row">
                {% for post in posts %}
                  <div class="col-md-auto">
                    <div class="card mt-5">
                      <div class="card-title">
                        <div class="d-flex  justify-content-start m-1">
                          <h5 class="m-2"> {{post.title}} </h5>
                          <div class="m-2" onclick="onDelete('{{post.id}}')">
                            <!-- delete button -->
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg>
                        </div>
                        <!-- edit button -->
                        <a href="/edit/{{post.id}}">
                        <div class="m-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                            <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z"/>
                          </svg>
                        </div>
                      </a>
                        </div>
                      </div>
                      <a href="/post/{{user.user}}/{{post.id}}" >
                      <div class="card-body">
                        <div class="d-flex justify-content-center">
                          <img src="/static/path/to/the/uploads/{{post.imgpath}}" alt="{{post.imgpath}}" width="200"
                            height="200" />
                        </div>
                      </div>
                    </a>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <!-- galary of post end here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
function reloadpage(){
  window.location.reload();
    }
    function onDelete(id){
      console.log("delete" +id)
      fetch('http://127.0.0.1:5000/posts/'+id,{
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      },
    }).then(res => {console.log(res)
    reloadpage()
  })
    }

  function onDeleteUser(){
    fetch('http://127.0.0.1:5000/user',{
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      },
    }).then(res => {console.log(res)
    reloadpage()
  })
  }
  </script>
</section>

{% endblock %}