
<nav class="navbar navbar-light "  style="background-color: #ffffff">
    <div class="container-fluid">
        <a class="navbar-brand " href="/">
          <img src="/static/img/blogv.jpg" alt="logo" width="auto"  height="40"/>
        </a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" style="color: black;" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black;" href="/login">Login</a>
        </li>
    </div>
  </nav>